"*":
  "atom-ctags": {}
  "atom-gpg": {}
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    projectHome: ""
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    showErrorPanel: false
  "linter-flake8":
    ignoreErrorCodes: [
      "E5"
      "E501"
      "E302"
    ]
    maxLineLength: 150
  "linter-pep8":
    ignoreErrorCodes: [
      "E5"
      "E501"
    ]
    maxLineLength: 150
  "merge-conflicts": {}
  minimap: {}
  pigments: {}
  "todo-show":
    sortBy: "File"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: false
    showOnRightSide: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
